@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
	@apply focus:outline-none;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@font-face {
	font-family: "surahnames";
	src: url(../../public/fonts/surah/sura_names.woff2);
}

.font-surah {
	font-family: "surahnames";
}

a {
	color: black;
	text-decoration: none !important;
}

select * {
	font-family: "Inter", sans-serif !important;
}

@keyframes ping {
	75%,
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
.animate-ping {
	animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes slide-down {
	from {
		transform: translate(-50%, -100%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, 0);
		opacity: 1;
	}
}

.animate-slide-down {
	animation: slide-down 0.3s ease-out;
}
