.card {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 300px;
  min-height: 50vh;
  margin: -150px;
  float: left;
  perspective: 500px;
  transform: translate("-50%", "-50%");
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.content.flipped {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

/* Optional: Keep hover for additional interactivity, or remove if not wanted */
.card:hover .content:not(.flipped) {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: max-content;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446a;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}